<!--registration_disabled.html-->

<!DOCTYPE html>
<html>
<head>
    <title>Registration Disabled</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
        }
        h1 {
            background-color: #4CAF50;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        p {
            margin: 20px;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: #008CBA;
        }
    </style>
</head>
<body>
    <h1>Registration Disabled</h1>
    <p>Sorry, registration for superadmin accounts is currently disabled because the maximum limit has been reached.</p>
    <p><a href="/start">Go back to home page</a></p>

</body>
</html>
